@import "../common.scss";
.wrapper__admin{
    flex: 1;
    // background-color: aqua;
    padding: 30px 40px 30px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    overflow-y: hidden;
    .title{
        margin-bottom: 30px;
        h1{
            font-size: 32px;
            font-weight: bold;
        }
    }
    .find__input{
        width: 100%;
        margin: 0 auto 30px auto;
        display: flex;
        align-items: center;
        input{
            margin-top: -1px;
            width: 90%;
            border: 1px solid #b3b3b3;
            border-radius: 20px;
            margin-right: 10px;
            padding: 5px 20px;
            &:focus{
                outline: none;
            }
        }
        button{
            border: 1px solid #009900;
            background-color: #009900;
            color: #fff;
            width: 10%;
            border-radius: 8px;
            padding: 5px 20px 5px 20px;
            &:hover{
                background-color: #fff;
                color: #009900;
            }
        }
    }
    .wrapper__table{
        .button__add{
            button{
                margin-bottom: 10px;
                padding: 5px 7px;
                background-color: #009900;
                border: 1px solid #009900;
                color: #fff;
                &:Hover{
                    background-color: #fff;
                    color: #009900;
                }
            }
        }
        .box-body{
            tbody{
                button{
                    padding: 1px 2px;
                }
                #setting-btn{
                    margin-right: 5px;
                }
            }
        }
    }
}

.wrapper-adminPage{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.sidebar__admin--menu--active{
    background-color: #009900;
}
.sidebar__admin{
    width: 200px;
    &--menu{
        position: fixed;
        background-color: #282828;
        height: 100vh;
        left: 0;
        top: 0;
        padding-left: 0;
        width: 200px;
        &--item{
            cursor: pointer;
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #fff;
            span{
                font-family: Giroly;
            }
        }
        .menu{
            padding-left: 15px;
            color: #fff;
            li{
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
