.wrapper__admin {
  flex: 1;
  // background-color: aqua;
  padding: 30px 40px 30px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  overflow-y: hidden;
  .title {
    margin-bottom: 30px;
    h1 {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .find__input {
    width: 100%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    input {
      margin-top: -1px;
      width: 90%;
      border: 1px solid #b3b3b3;
      border-radius: 20px;
      margin-right: 10px;
      padding: 5px 20px;
      &:focus {
        outline: none;
      }
    }
    button {
      border: 1px solid #009900;
      background-color: #009900;
      color: #fff;
      width: 10%;
      border-radius: 8px;
      padding: 5px 20px 5px 20px;
      &:hover {
        background-color: #fff;
        color: #009900;
      }
    }
  }
  .wrapper__table {
    .button__add {
      button {
        margin-bottom: 10px;
        padding: 5px 7px;
        background-color: #009900;
        border: 1px solid #009900;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: #009900;
        }
      }
    }
    .box-body {
      tbody {
        button {
          padding: 1px 2px;
        }
        #setting-btn {
          margin-right: 5px;
        }
      }
      .modal-content{
          background-color: #fff !important;
      }
    }
  }
}

.wrapper-adminPage {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.sidebar__admin--menu--active {
  background-color: #009900;
}
.sidebar__admin {
  width: 300px;
  padding-bottom: 30px;
  &--menu {
    background-color: #282828;
    width: 300px;
    &--item {
      cursor: pointer;
      padding: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    span {
      font-family: Giroly;
    }
    &:nth-last-child(1) {
      padding-bottom: 30px;
    }
  }
}
.li__active {
  background-color: gray;
}
.sub__menu {
  padding-left: 20px;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    span {
      color: #fff;
    }
  }
}
hr {
  background-color: #fff;
}
label {
  font-weight: 600;
  font-size: 24px;
}

.wrapper-paginate {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  ul {
    li {
      font-size: 30px;
      width: 50px;
      height: 50px;
      border: 1px solid #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #333;
      }
      &:nth-child(1) {
        display: none;
      }
      &:nth-last-child(1) {
        display: none;
      }
      @media(max-width:1025px){
        width: 40px;
        height: 40px;
        font-size: 25px;
      }
      @media(max-width:769px){
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
      @media(max-width:426px){
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
    }
    li.active {
      background-color: gray;
      a {
        color: #fff;
      }
    }
  }
}

select {
  &:focus {
    outline-width: 0;
  }
  option {
    padding: 8px;
  }
}


.btn__setting {
  text-align: center;
  button {
    border: none;
    background-color: transparent;
    margin-left: 8px;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}


.wrapper__modal{
  padding: 40px 70px;
  label{
      margin-bottom: 20px;
  }
  label.label-txt{
      width: 25%;
  }
  input{
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 2px solid #d5d5d5;
      &:focus{
          outline: none;
      }
  }
  textarea{
      border:2px solid #d5d5d5; 
      &:focus{
          outline: none;
      }
  }
  input.input-txt{
      width: 74%;
  }
  textarea.input-txt{
      width: 74%;
      padding: 10px;
  }
  #file-input{
      border: none;
  }
  .btn--bottom{
      width: 100%;
      display: flex;
      justify-content: center;
      .wrapper__btn{
          display: flex;
          justify-content: space-between;
          button{
              padding: 5px 20px;
              border: none;
              background-color: #cc0000;
              color: #fff;
              border: 1px solid #cc0000;
              &:hover{
                  background-color: #fff;
                  color: #cc0000;
              }
          }
          .back-btn{
              margin-right: 20px;
          }
      }
  }
  .modal-content{
      background-color: #fff;
  }
}

.wrapper-admin{
  .title-investment{
      h1{
          text-align: center;
          color: #cc0000;
          font-weight: bold;
      }
  }
  .add-btn{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      button{
          padding: 2px 9px;
          font-size: 21px;
          font-weight: bold;
      }
  }
}   
.wrapper__blog{
  padding: 50px;
  &--item{
    margin-top: 15px;
    input {
      margin-left: 15px;
      width: 500px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 2px solid #d5d5d5;
      &:focus{
          outline: none;
      }
    }
    select{
      margin-left: 15px;
      padding: 8px;
      &:focus {
        outline-width: 0;
      }
      option {
        padding: 8px;
      }
    }
    button {
      margin-top: 20px;
      border: 1px solid #009900;
      background-color: #009900;
      color: #fff;
      width: 10%;
      padding: 5px 20px 5px 20px;
      margin-left: 10px;
      &:hover {
        background-color: #fff;
        color: #009900;
      }
    }
    &:nth-last-child(1){
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.admin__setting{
  position: absolute;
  width: 100%;
  padding-left: 0;
  top: 100%;
  background: #FFF;
  color: #333;
  border: 1px solid;
  left: 0%;
  li{
    padding: 8px;
    border: 1px solid #eaeaea;
    color: #333;
    &:hover{
      background: #333;
      color: #fff;
    }
  }
}