
.wrapper__modal{
    padding: 40px 70px;
    label{
        margin-bottom: 20px;
    }
    label.label-txt{
        width: 25%;
    }
    input{
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid #d5d5d5;
        &:focus{
            outline: none;
        }
    }
    textarea{
        border:2px solid #d5d5d5; 
        &:focus{
            outline: none;
        }
    }
    input.input-txt{
        width: 74%;
    }
    textarea.input-txt{
        width: 74%;
        padding: 10px;
    }
    #file-input{
        border: none;
    }
    .btn--bottom{
        width: 100%;
        display: flex;
        justify-content: center;
        .wrapper__btn{
            display: flex;
            justify-content: space-between;
            button{
                padding: 5px 20px;
                border: none;
                background-color: #cc0000;
                color: #fff;
                border: 1px solid #cc0000;
                &:hover{
                    background-color: #fff;
                    color: #cc0000;
                }
            }
            .back-btn{
                margin-right: 20px;
            }
        }
    }
    .modal-content{
        background-color: #fff;
    }
}

.wrapper-admin{
    .title-investment{
        h1{
            text-align: center;
            color: #cc0000;
            font-weight: bold;
        }
    }
    .add-btn{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        button{
            padding: 2px 9px;
            font-size: 21px;
            font-weight: bold;
        }
    }
}   