.sidebar__sub{
  width: fit-content;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  .sidebar__sub--menu{
      width: 100%;
      height: 100%;
    .sidebar__sub--menu--item{
      width: 100%;
      height: 100%;
      position: relative;
      svg{
        color: #fff;
        cursor: pointer;
      }
      ul.sub__setting{
        position: absolute;
        width: auto;
        height: 50px;
        
        display: flex;
        margin-bottom: 0;
        align-items: center;
        li{
          color: red;
        }
        input{
          padding: 10px 15px;
          border-left: none;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
}