
ul{
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
}

@font-face {
    font-family: Helvetica;
    src: url('../font/Helvetica.ttc');
}
@font-face {
    font-family: Didot;
    src: url('../font/Didot-HTF-L64-Light.ttf');
}

@font-face {
    font-family: Giroly;
    src: url('../font/SVN-Gilroy\ Light.otf');
}
