
ul{
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
}

@font-face {
    font-family: Helvetica;
    src: url('../font/Roboto-Regular.ttf');
}
@font-face {
    font-family: Didot;
    src: url('../font/SVN-Conqueror\ Didot.otf');
}

@font-face {
    font-family: Giroly;
    src: url('../font/SVN-Gilroy\ Light.otf');
}
p{
    letter-spacing: 1px;
}
body{
    overflow-x: hidden !important;
}