@import './common.scss';

.contact{
    font-family: Helvetica;
    font-size: 16px;
    @media (max-width:1679px) {
        font-size: 14px;
    }
    @media (max-width:1190px) {
        font-size: 12px;
    }
    @media (max-width:768px) {
        font-size: 11px;
    }
    .container-fluid{
        width: 100vw;
        padding: 140px;
        padding-top: 100px;
        @media (max-width:1679px) {
            padding-top: 70px;
            padding: 100px;
        }
        @media (max-width:1190px) {
            padding: 50px;
            padding-top: 50px;
        }
        @media (max-width:768px) {
            padding: 20px;
        }
        .contact__form{
            color: #282828;
            padding-right: 125px;
            padding-top: 40px;
            @media (max-width:1679px) {
                padding-right: 70px;
                padding-top: 30px;
            }
            @media (max-width:1190px) {
                padding-right: 20px;
                padding-top: 20px;
            }
            @media (max-width:768px) {
                padding-right: 0px;
            }
            &__title{
                font-family:'Didot';
                font-size: 30px;
                padding-bottom: 20px;
                @media (max-width:1679px) {
                    font-size: 28px;
                    padding-bottom: 15px;
                }
                @media (max-width:1190px) {
                    font-size: 24px;
                    padding-bottom: 10px;
                }
                @media (max-width:768px) {
                    font-size: 18px;
                    padding-bottom: 5px;
                }
            }
            &__main{
                
                .combo--item{
                    padding-bottom: 20px;
                    display: flex;
                    @media (max-width:1679px) {
                        padding-bottom: 10px;
                    }
                    @media (max-width:1190px) {
                        padding-bottom: 10px;
                    }
                    @media (max-width:990px) {
                        display: block;
                    }
                    .form--item{
                        
                        @media (max-width:768px) {
                            padding-bottom: 10px;
                        }
                        padding-right: 46px;
                        p{
                            @media (max-width:1190px) {
                                margin-bottom: 10px;
                            }
                        }
                        input{
                            border: 1px solid #707070;
                            width: 253px;
                            height: 38px;
                            @media (max-width:1679px) {
                                width: 233px;
                                height: 30px;
                            }
                            @media (max-width:1190px) {
                                width: 183px;
                                height: 25px;
                            }
                        }
                        
                    }

                }
                .form--mess{
                    textarea{
                        border: 1px solid #707070;
                        width: 552px;
                        height: 135px;
                        @media (max-width:1679px) {
                            width: 512px;
                            height: 100px;
                        }
                        @media (max-width:1190px) {
                            width: 412px;
                            height: 70px;
                        }
                        @media (max-width:990px) {
                            width: 100%;
                            height: 70px;
                        }
                    }
                }


            }
            &__button{
                padding-top: 30px;
                @media (max-width:1190px) {
                    padding-top: 20px;
                }
                @media (max-width:768px) {
                    padding-bottom: 20px;
                }
                button{
                    width: 187px;
                    height: 53px;
                    background-color: #E01042;
                    border:none;
                    @media (max-width:1679px) {
                        width: 157px;
                        height: 47px;
                    }
                    @media (max-width:1190px) {
                        width: 127px;
                        height: 43px;
                    }
                    @media (max-width:768px) {
                        width: 100px;
                        height: 35px;
                    }
                    strong{
                        color: #FFFFFF;
                    }
                }
            }
        }
        .contact__info{
            color: #676767;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            &--basic{
                padding-top: 40px;
                padding-bottom: 40px;
                @media (max-width:1679px) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                @media (max-width:768px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
            &--hotline{
                span{
                    padding-bottom: 20px;
                    border-bottom: 0.5px solid #707070 ;
                }
                .hotline--number{
                    padding-top: 55px;
                    @media (max-width:768px) {
                        padding-top: 40px;
                    }
                    strong{
                        font-size: 36px;
                        color: #282828;
                        @media (max-width:1679px) {
                            font-size: 30px;
                        }
                        @media (max-width:1190px) {
                            font-size: 28px;
                        }
                        @media (max-width:768px) {
                            font-size: 18px;
                        }
                    }
                }
                
            }
        }
    }
}