@import './common.scss';

.contact{
    font-family: Helvetica;
    font-size: 18px;
    @media (max-width:1679px) {
        font-size: 14px;
    }
    @media (max-width:1190px) {
        font-size: 12px;
    }
    .container-fluid{
        padding: 140px;
        padding-top: 100px;
        display: flex;
        @media (max-width:1679px) {
            padding-top: 70px;
            padding: 100px;
        }
        @media (max-width:1190px) {
            padding: 50px;
            padding-top: 50px;
        }
        @media (max-width:769px) {
            padding: 20px;
            display: block;
        }
        .contact__form{
            color: #282828;
            padding-right: 125px;
            padding-top: 40px;
            width: 50%;
            @media (max-width:1679px) {
                padding-right: 70px;
                padding-top: 30px;
            }
            @media (max-width:1300px) {
                padding-right: 20px;
                padding-top: 20px;
            }
            @media (max-width:769px) {
                padding-right: 0px;
                width: 100%;
            }
            &__title{
                p{
                    font-family:'Didot' !important;
                    @media (max-width:500px) {
                        line-height: 33px;
                    }
                }
                font-size: 38px;
                padding-bottom: 20px;
                @media (max-width:1679px) {
                    font-size: 28px;
                    padding-bottom: 15px;
                }
                @media (max-width:1300px) {
                    font-size: 24px;
                    padding-bottom: 10px;
                }
                @media (max-width:769px) {
                    font-size: 27px;
                    padding-bottom: 5px;
                }
                
                
            }
            &__content{
                p{
                    @media (max-width:500px) {
                        line-height: 24px;
                    }
                }
            }
            &__main{
                
                .combo--item{
                    
                    padding-bottom: 20px;
                    display: flex;
                    @media (max-width:1679px) {
                        padding-bottom: 10px;
                    }
                    @media (max-width:1300px) {
                        padding-bottom: 10px;
                    }
                    @media (max-width:990px) {
                        display: block;
                    }
                    
                    .form--item{
                        
                        @media (max-width:769px) {
                            padding-bottom: 10px;
                        }
                        padding-right: 46px;
                        @media (max-width:500px) {
                            padding-right: 0px;
                        }
                        p{
                            @media (max-width:1300px) {
                                margin-bottom: 10px;
                            }
                            font-weight: 600;
                            
                        }
                        input{
                            border: 1px solid rgba($color: #707070, $alpha: 0.6);
                            
                            width: 253px;
                            height: 38px;
                            padding-left: 10px;
                            padding-top: auto;
                            padding-bottom:auto;
                            @media (max-width:1679px) {
                                width: 233px;
                                height: 30px;
                            }
                            @media (max-width:1300px) {
                                width: 183px;
                                height: 25px;
                            }
                            @media (max-width:769px) {
                                width: 460px;
                                height: 25px;
                            }
                            @media (max-width:500px) {
                                width: 100%;
                            }
                        }

                        input:focus{
                            outline: none !important;
                            border: 1px solid rgba($color: #707070, $alpha: 0.6);
                        }
                        
                        
                        
                    }


                }
                .form--mess{
                    margin-top: 60px;
                    @media (max-width:769px) {
                        margin-top: -9px;
                    }
                    p{
                        font-weight: 600;
                    }
                    textarea{
                        border: 1px solid rgba($color: #707070, $alpha: 0.6);
                        width: 552px;
                        height: 135px;
                        padding-left: 10px;
                        padding-top: 10px;
                        @media (max-width:1679px) {
                            width: 512px;
                            height: 100px;
                        }
                        @media (max-width:1300px) {
                            width: 412px;
                            height: 70px;
                        }
                        @media (max-width:990px) {
                            width: 100%;
                            height: 70px;
                        }
                        @media (max-width:769px) {
                            width: 63%;
                            height: 110px;
                        }
                        @media (max-width:500px) {
                            width: 100%;
                        }
                    }
                    textarea:focus{
                        outline: none !important;
                        border: 1px solid rgba($color: #707070, $alpha: 0.6);
                    }
                }


            }
            &__button{
                padding-top: 30px;
                @media (max-width:1190px) {
                    padding-top: 20px;
                }
                @media (max-width:769px) {
                    padding-bottom: 20px;
                }
                button{
                    width: 187px;
                    height: 53px;
                    background-color: #E01042;
                    border:none;
                    @media (max-width:1679px) {
                        width: 157px;
                        height: 47px;
                    }
                    @media (max-width:1190px) {
                        width: 127px;
                        height: 43px;
                    }
                    @media (max-width:769px) {
                        width: 100px;
                        height: 35px;
                    }
                    strong{
                        color: #FFFFFF;
                    }
                }
                button:hover{
                    background-color: #FFFFFF;
                    border: 1px solid #E01042;
                    strong{
                        color: #E01042;
                        letter-spacing: 1px;
                        line-height: 27px;
                    }
                }
            }
        }
        .contact__info{
            color: #676967;
            @media (max-width:769px) {
                margin-top: 30px;
            }
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            &--basic{
                padding-top: 40px;
                padding-bottom: 40px;
                @media (max-width:1679px) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                @media (max-width:769px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                p{
                    strong{
                        color: black;
                    }
                    span{
                        color: grey;
                    }
                }
            }
            &--hotline{
                span{
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba($color: #707070, $alpha: 0.6);
                    font-weight: 600;
                    letter-spacing: 1px;
                    line-height: 27px;
                }
                .hotline--number{
                    padding-top: 55px;
                    @media (max-width:769px) {
                        padding-top: 40px;
                    }
                    strong{
                        font-size: 36px;
                        color: #282828;
                        @media (max-width:1679px) {
                            font-size: 30px;
                        }
                        @media (max-width:1190px) {
                            font-size: 28px;
                        }
                        @media (max-width:769px) {
                            font-size: 18px;
                        }
                    }
                }
                
            }
        }
    }
}