@import "./common.scss";
.timeline--background {
  margin-bottom: 300px;
  padding-left: 140px;
  padding-right: 140px;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
.timeline__wrapper {
  @media (max-width: 768px) {
    display: none;
  }
  .timeline {
    // padding-left: 140px;
    // padding-right: 140px;
    margin-bottom: 150px;
    &__content {
      // display: flex;
      // justify-content: space-evenly;
      padding-left: 140px;
      padding-right: 140px;
      @media (max-width: 1440px) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
.timeline__content__item {
  // width: 276px;
  // height: 288px;
  background-color: #fff;
  position: relative;
  box-shadow: 2px 0.5px 3px 2px rgba($color: #000000, $alpha: 0.16);
  min-height: 288px;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  &--text {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    .wrapper__text {
      // padding-left: 30px;
      // padding-right: 30px;
      p {
        font-size: 16px;
        color: #282828;
        &:nth-child(1) {
          text-align: center;
          color: #e01042;
          font-size: 32px;
        }
      }
    }
  }
  &--number {
    position: absolute;
    z-index: 1;
    right: 0;
    font-size: 250px;
    color: #000000;
    opacity: 0.05;
  }
  &--border {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10px;
    background-color: #e01042;
  }
}
.timeline-mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  &__content {
    padding-left: 50px;
    padding-right: 50px;
    .slick-next {
      display: none !important;
    }
  }
}

.container-fluid {
  .control__item {
    padding-top: 40px;
    text-align: center;
    .big__word {
      font-size: 60px;
      margin-bottom: 50px;
    }
    .empty__element {
      width: 50px;
      height: 3px;
      background-color: #707070;
      margin: 0 auto;
    }
  }
  .row {
    padding: 0 140px;
    margin-top: 50px;
    // margin-bottom: 40px;
    @media (max-width: 1440px) {
      padding: 0 50px 50px 50px;
    }
    @media (max-width: 426px) {
      padding: 0 15px;
    }
    .col-lg-6 {
      .img__page {
        width: 100%;
        padding-bottom: 100%;
        background-position: center;
        background-size: cover;
      }
    }
    .wrap__element {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .empty__element {
        width: 50px;
        height: 3px;
        background-color: #707070;
        margin: 0 auto;
      }
      .big__word {
        font-size: 60px;
      }
      .title__element {
        font-size: 13px;
      }
      .next_element {
        font-size: 13px;
        width: 130px;
        color: #e01042;
        height: 50px;
        background: white;
        border: 1px solid #ce3047;
        font-weight: 600;
      }
    }
  }
}
.container__item-block {
  text-align: center;
  padding-top: 40px;
  background-color: #f9f9f9;
  .empty__element-block {
    width: 50px;
    height: 3px;
    background-color: #707070;
    margin: 0 auto;
  }
  .big__word-block {
    font-size: 60px;
  }
  .item__element {
    position: relative;
    .img__page-block {
      width: 100%;
      padding-bottom: 30%;
      background-position: center;
      background-size: cover;
    }
    .content__element-block {
      position: absolute;
      top: 15%;
      width: 450px;
      height: 300px;
      left: 50px;
      background-color: #ffffff;
      .txt__headline {
        font-size: 25px;
        font-weight: 700;
        padding: 20px 0 10px 0;
      }
      .flex__item {
        display: flex;
        margin: 0 20px 0 20px;
        .txt__item {
          text-align: left;
          padding-left: 20px;
        }
        .img__item {
          width: 15px;
          height: 15px;
          margin: 4px 20px 0 30px;
        }
      }
    }
  }
}
.main {
  background-color: #f9f9f9;
  .field__main {
    padding-top: 50px;
    text-align: center;
    .empty__element-txt {
      width: 50px;
      height: 3px;
      background-color: #707070;
      margin: 0 auto;
    }
    .big__word-txt {
      font-size: 60px;
    }
  }
  .element__field {
    margin: 0 30px 0 30px;
    position: relative;
    .img__field {
      width: 100%;
    }
    .wrapper__item {
      position: absolute;
      bottom: 30px;
      left: 30px;
      .content__item {
        font-weight: 600;
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 0;
      }
      .content__txt {
        color: #ffffff;
        margin-bottom: 0;
      }
      .detail__hotel {
        font-weight: 600;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 0;
      }
      .empty__field {
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px 0 15px 0;
      }
      .btn__item {
        width: 100px;
        color: #ffffff;
        height: 35px;
        background-color: #e01042;
        border: none;
      }
    }
  }
}
.founder__main {
  text-align: center;
  padding-top: 50px;
  .txt__item--content {
    width: 52%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 14px;
    padding-top: 20px;
  }
  .founder__item {
    color: #e01042;
    font-size: 20px;
    font-weight: 700;
    font-family: Helvetica;
  }
  .founder__name {
    margin-bottom: 50px;
  }
}
.enjoy__video-block {
  position: relative;
  display: flex;
  justify-content: center;
  .img__video-block {
    width: 100%;
    padding-bottom: 30%;
    background-position: center;
    background-size: cover;
    vertical-align: top;
  }
  .img__video-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .enjoy__flex {
    position: absolute;
    bottom: 30%;
    .empty__element {
      width: 50px;
      height: 3px;
      background-color: #bdb7b0;
      margin: 0 auto;
    }
    .text__headline {
      color: #bdb7b0;
      text-align: center;
    }
    .big__word-item {
      color: #bdb7b0;
      font-size: 60px;
    }
  }
}
