@import './common.scss';
.timeline--background{
    margin-bottom: 300px;
    padding-left: 140px;
    padding-right: 140px;
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
.timeline__wrapper{
    @media (max-width:768px){
        display: none;
    }
    .timeline{
        // padding-left: 140px;
        // padding-right: 140px;
        margin-bottom: 300px;
        &__content{
            // display: flex;
            // justify-content: space-evenly;
            padding-left: 140px;
            padding-right: 140px;
            @media (max-width:1440px){
                padding-left: 50px;
                padding-right: 50px;
            }
            
        }
    }
}
.timeline__content__item{
    // width: 276px;
            // height: 288px;
            background-color: #fff;
            position: relative;
            box-shadow: 2px 0.5px 3px 2px rgba($color: #000000, $alpha: .16);
            min-height: 288px;
            max-width: 240px;
            margin-left: auto;
            margin-right: auto;
            &--text{
                position: absolute;
                top: 0%;
                width: 100%;
                height: 100%;
                z-index: 9;
                display: flex;
                align-items: center;
                padding-left: 15px;
                padding-right: 15px;
                .wrapper__text{
                    // padding-left: 30px;
                    // padding-right: 30px;
                    p{
                        font-size: 16px;
                        color: #282828;
                        &:nth-child(1){
                            text-align: center;
                            color: #E01042;
                            font-size: 32px;
                        }

                    }
                }
            }
            &--number{
                position: absolute;
                z-index: 1;
                right: 0;
                font-size: 250px;
                color: #000000;
                opacity: .05;
            }
            &--border{
                position: absolute;
                bottom: 0%;
                width: 100%;
                height: 10px;
                background-color: #E01042;
            }
}
.timeline-mobile{
    display: none;
    @media (max-width:768px){
        display: block;
    }
    &__content{
        padding-left: 50px;
        padding-right: 50px;
        .slick-next{
            display: none !important;
        }
    }
}
