@import "./common.scss";

.home-container {
  position: relative;
  .img-container {
    width: 100%;
    height: 295px;
  }
  .detail-inner {
    position: absolute;
    top: 50%;
    left: 100px;
    .content-headline {
      color: #ffffff;
      margin-bottom: 20px;
    }
    .content-intro {
      color: #ffffff;
      font-size: 13px;
    }
  }
}
.container-description {
  background-color: white;
  height: 100%;
  .img-inner {
    text-align: center;
    margin-bottom: 25px;
    .img-content {
      margin-top: 70px;
    }
  }
  .detail-content {
    text-align: center;
    .detail-content-block {
      width: 53%;
      margin: 0 auto;
      margin-bottom: 25px;
      font-family: Helvetica;
      font-weight: 600;
      font-size: 14px;
    }
    .content-founder {
      color: #e01042;
      font-size: 20px;
      font-weight: 700;
      font-family: Helvetica;
    }
    .content {
      font-family: Helvetica;
      font-size: 14px;
    }
  }
  .block {
    padding: 0 140px 0 140px;
    @media (max-width: 768px) {
      padding: 0 15px;
    }
    .item-content {
      .detail-introduce {
        font-size: 14px;
        font-family: sans-serif;
        margin-bottom: 10px;
      }
      .empty {
        width: 50px;
        height: 2px;
        background-color: #707070;
        margin-bottom: 40px;
      }
      .great-title {
        font-size: 30px;
        margin-bottom: 40px;
        @media (max-width: 768px) {
          font-size: 20px;
          margin-bottom: 40px;
        }
      }
      .title-content {
        font-family: Helvetica;
        margin-bottom: 25px;
      }
      .flex-item {
        display: flex;
        @media (max-width: 768px) {
          display: flex;
        }
        @media (max-width: 576px) {
          display: table;
        }
        .item-file {
          font-size: 30px;
          margin-right: 100px;
          @media (max-width: 768px) {
            font-size: 20px;
            margin-bottom: 40px;
          }
          @media (max-width: 576px) {
            font-size: 20px;
            margin-bottom: 40px;
          }
        }
        .item-click {
          width: 187px;
          height: 53px;
          font-size: 16px;
          color: white;
          background-color: #e01042;
          border: none;
          font-weight: 600;
        }
      }
    }
    .item-img {
      // position: relative;
      // width: 100%;
      .wrap-picture {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
      }
      .picture {
        width: 100%;
        padding-bottom: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        &.img-home {
          top: 10%;
          left: 10%;
          width: 90%;
          padding-bottom: 80%;
          z-index: 2;
        }
        &.img-hotel {
          top: 0%;
          left: 25%;
          width: 70%;
          z-index: 1;
          padding-bottom: 80%;
        }
        &.img-icon {
          top: 22%;
          left: 0%;
          width: 70%;
          z-index: 1;
          padding-bottom: 60%;
        }
      }
    }
    .container-startup {
      text-align: center;
      .startup-title {
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 40px;
      }
      .title-lorem {
        text-align: left;
        margin-bottom: 40px;
      }
      .container-img {
        padding: 0 30px 0 30px;
        // screen la co man hinh
        @media (max-width: 768px) {
          padding: 0 40px;
        }
        .img-startup {
          width: 100%;
          @media (max-width: 768px) {
            margin-bottom: 30px;
          }
          @media (max-width: 992px) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.partner-container {
  margin-bottom: 150px;
}
.img-partner {
  width: 70%;
  margin: 0 auto;
  border: none;
}
.slider-block {
  margin: 0 140px 140px 140px;
}
