@import "./common.scss";

.main__home {
  padding-top: 50px;
  @media (max-width: 1440px) {
    padding: 50px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 426px) {
    padding: 15px 0;
  }
  .item__home {
    background-color: #f9f9f9;
    // margin-bottom: 50px;
    padding: 0 130px;
    @media (max-width: 1440px) {
      padding: 0 40px;
    }
    @media (max-width: 760px) {
      padding: 0 20px;
    }
    @media (max-width: 426px) {
      padding: 0 15px;
    }
    .main__news__page {
      // margin-top: 50px;
      padding-right: 0;
      // margin-bottom: 40px;
      @media (max-width: 768px) {
        padding: 0;
      }
      @media (max-width: 425px) {
        padding: 0;
      }
    }
    .main__news--cover {
      // margin-top: 50px;
      // padding: 0 40px;
      padding-left: 0;
      @media (max-width: 425px) {
        padding: 0;
      }
    }
  }
}

.main__item__detail {
  //   padding: 0 !important;
  @media (max-width: 1024px) {
    padding: 5px !important;
  }
  @media (max-width: 768px) {
    padding: 13px !important;
  }
  @media (max-width: 425px) {
    padding: 0 !important;
  }
  @media (max-width: 375px) {
    padding: 0 !important;
  }
  .list__inner {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    .wrappers {
      padding: 0;
      @media (max-width: 425px) {
        padding: 0 !important;
      }
      @media (max-width: 375px) {
        padding: 0 !important;
      }
      .block__detail {
        margin-bottom: 50px;
        margin-right: 50px;
        border: 1px solid #dbdbdb;
        @media (max-width: 768px) {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 30px;
        }
        @media (max-width: 425px) {
          width: 100%;
          margin-bottom: 15px;
        }
        .img__news {
          height: 276px;
          width: 100%;
          background-position: center;
          background-size: cover;
          @media (max-width: 1920px) {
            height: 276px;
          }
          @media (max-width: 1441px) {
            height: 221px;
          }
          @media (max-width: 1025px) {
            height: 230px;
          }
          @media (max-width: 769px) {
            height: 169px;
          }
          @media (max-width: 426px) {
            height: 254px;
          }
          @media (max-width: 375px) {
            height: 230px;
          }
          @media (max-width: 321px) {
            height: 158px;
          }
        }
        .ingredient__item {
          width: 100%;
          height: auto;
          background-color: #f9f9f9;
          .item__wrap {
            padding-left: 20px;
            padding-right: 20px;
            .txt__small {
              color: gray;
              font-size: 14px;
              padding-top: 20px;
              margin-bottom: 5px;
              letter-spacing: 1px;
              @media (max-width: 426px) {
                font-size: 12px;
              }
            }
            .empty__item {
              width: 30px;
              height: 2px;
              background-color: #707070;
            }
            .txt__content {
              height: 50px;
              font-weight: 600;
              margin-top: 18px;
              font-size: 16px;
              font-family: "Helvetica";
              letter-spacing: 1px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              @media (max-width: 769px) {
                font-size: 14px;
              }
            }
            .btn__news {
              padding: 7px 14px;
              border: 1px solid #e01042;
              margin-bottom: 20px;
              font-weight: 500;
              background-color: #e01042;
              color: #ffffff;
              font-size: 14px;
              letter-spacing: 1px;
              @media (max-width: 769px) {
                font-size: 12px;
              }
            }
            .btn__news:hover {
              color: #e01042;
              border: 1px solid #e01042;
              background-color: #f9f9f9;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}
.main__part {
  width: 70%;
  @media (max-width: 1440px) {
    width: 100%;
  }
  .main__category {
    .average__word {
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 600;
      font-family: "Helvetica";
      margin-bottom: 20px;
      @media (max-width: 769px) {
        font-size: 18px;
      }
    }
    .average__words {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    .box__content {
      margin-bottom: 30px;
      .small__content {
        letter-spacing: 1px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d4d4d4;
        @media (max-width: 769px) {
          font-size: 14px;
        }
      }
    }
    .search__item {
      width: 100%;
      height: 40px;
      border: 1px solid #d4d4d4;
      outline: none;
      margin-bottom: 20px;
      background-color: #f5f5f5;
    }
    .btn__search {
      letter-spacing: 1px;
      width: 120px;
      height: 40px;
      color: #ffffff;
      background-color: #e01042;
      border: none;
      font-weight: 600;
      margin-bottom: 20px;
      @media (max-width: 769px) {
        font-size: 12px;
      }
    }
    .btn__search:hover {
      border: 1px solid #e01042;
      background-color: #ffffff;
      color: #e01042;
      transition: 0.5s;
    }
    .list__item {
      display: flex;
      flex-wrap: wrap;
      // .content__little {
      //   font-size: 12px;
      //   border: 1px solid #d4d4d4;
      //   padding: 0 15px 0 15px;
      //   margin-right: 15px;
      // }
    }
  }
}
.main__home {
  background-color: #f9f9f9;
  .item__home {
    background-color: #f9f9f9;
    .main__news__page {
      background-color: #f9f9f9;
    }
    .main__news--cover {
      background-color: #f9f9f9;
    }
  }
}
