@import "./common.scss";

img{
    object-fit: cover;
}
*{
    letter-spacing: 1px;
}

.menu__wrapper {
    width: 100%;
    padding: 80px;
    margin-bottom: 0;
    font-family: 'Helvetica';
    @media (max-width: 1024px){
        padding: 50px !important;
        // margin-bottom: 20px;
    }
    @media (max-width: 768px){
        padding: 30px !important;
        // margin-bottom: 15px;
    }
    @media (max-width: 425px){
        padding: 30px 0 !important;
        // margin-bottom: 15px;
    }
    .container-fluid {
        padding: 0;
        ul.menu__project {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            padding: 0 !important;
            @media (max-width: 425px) {
                padding: 0 15px;
            }
            li {
                padding: 0 35px;
                color: #a4abb3;
                font-weight: 700;
                font-size: 16px;
                margin-top: 10px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                letter-spacing: 1px;
                @media (max-width: 768px){
                    padding: 0 20px !important;
                    font-size: 13px !important;
                }
                @media (max-width: 526px){
                    padding: 0 10px !important;
                    font-size: 11px !important;
                }
                @media (max-width: 425px){
                    font-size: 10px !important;
                    padding: 0 8px !important;
                }
                @media (max-width: 375px){
                    font-size: 8px !important;
                    padding: 0 5px !important;
                }
                img {
                    position: absolute;
                    @media (max-width: 526px){
                        width: 12px;
                        height: 12px;
                    }
                }
                div {
                    padding: 0 0 0 25px;
                    @media (max-width: 526px){
                        padding: 0 0 0 15px;
                    }
                    color: #676767;
                    letter-spacing: 1px;
                    position: relative;
                    &:hover{
                        text-decoration: none;
                    }
                    .active-cpn {
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        left: 0;
                        bottom: -5px;
                        opacity: .4;
                        background-color: #676767;
                        @media (max-width: 426px){
                            height: 2px;
                        }
                    }
                }
            }
        }
    }
}

.list__wrapper-project {
    width: 100%;
    .container-fluid {
        padding: 0 0 50px 0;
        .row {
            margin: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-left: 140px;
            padding-right: 140px;
            @media (max-width: 1440px) {
                padding: 0 50px;
            }
            @media(max-width: 768px){
                padding: 0 15px;
            }
            .item {
                width: calc((100% - 70px) / 2);
                margin-right: 70px;
                margin-bottom: 50px;
                cursor: pointer;
                box-shadow: 0px 2px 2px 2px #e8e8e8;
                &:hover {
                    text-decoration: none;
                } 
                @media (max-width: 1024px){
                    margin-right: 50px;
                    width: calc((100% - 50px) / 2);
                }
                @media (max-width: 768px){
                    margin-right: 40px;
                    margin-bottom: 30px;
                    width: calc((100% - 40px) / 2);
                }
                @media (max-width: 426px){
                    margin-right: 0;
                    margin-bottom: 30px;
                    width: 100%;
                }
                .item__content--top {
                    overflow: hidden;
                    .wrapper-img{
                        @media(max-width: 1920px){
                            height: 500px;
                        }
                        @media(max-width: 1440px){
                            height: 455px;
                        }
                        @media(max-width: 768px){
                            height: 305px;
                        }
                        @media(max-width: 320px){
                            height: 230px;
                        }
                        &:hover{
                            img {
                                transform: scale(1.5);
                                transition: 1s;
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            transition: 1s;
                        }
                    }
                }
                .item__content--bottom {
                    padding: 30px;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    position: relative;
                    @media (max-width: 1024px){
                        padding: 20px;
                    }
                    @media (max-width: 768px){
                        padding: 10px;
                    }
                    .label {
                        font-family: Giroly;
                        position: absolute;
                        right: 30px;
                        letter-spacing: 1px;

                        @media (max-width: 1024px){
                            width: 100%;
                            position: relative;
                            padding: 0;
                            top: auto;
                            right: auto;
                            display: flex;
                            justify-content: center;
                            margin-top: 15px;
                        }
                        @media(max-width: 768px){
                            margin-top: 10px;
                        }
                        span {
                            padding: 5px 18px;
                            background-color: #E01042;
                            color: #fff;
                            cursor: pointer;
                            letter-spacing: 1px;
                            font-size: 16px;
                            @media (max-width: 1024px){
                            font-size: 14px;
                            padding: 3px 15px;
                            } 
                            @media (max-width: 768px){
                                font-size: 12px;
                            }
                            font-weight: 700;
                            border: 2px solid #E01042;
                            @media (max-width: 769px){
                                padding: 3px 15px;
                                font-size: 12px;
                            }
                            @media (max-width: 426px){
                                font-size: 10px;
                            }
                            &:hover {
                                text-decoration: none;
                                background-color: #fff;
                                border: 2px solid #E01042;
                                color: #E01042;
                            }
                        }
                    }
                    .title {
                        text-transform: uppercase;
                        margin-bottom: 0;
                        color: #333;
                        font-weight: bold;
                        // font-size: 21px;
                        width: 70%;
                        letter-spacing: 1px;
                        font-family: 'Helvetica';
                        @media (max-width: 1024px){
                            width: 100%;
                            text-align: center;
                            font-size: 16px;
                        }
                        @media (max-width: 769px){
                            font-size: 14px;
                        }
                        @media (max-width: 426px){
                            font-size: 12px;
                        }
                        &:hover {
                            color: #af8d41;
                        }
                    }
                }
            }
            .item:nth-of-type(2n) {
                margin-right: 0px;
            }
        }
    }
}
