@import "../style/common.scss";

.project__wrapper {
    width: 100%;
    .container-fluid {
        padding: 0;
        .row {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .row__info-project-detail {
            padding: 0 140px 50px 140px;
            margin-top: 60px;
            @media(max-width:426px){
                margin-top: 0;
            }
            @media (max-width: 1440px) {
                padding: 60px 50px;
            }
            @media (max-width: 769px) {
                padding: 50px 15px;
            }
            .wrapper__info {
                width: 100%;
                height: 100%;
                box-shadow: 0px 2px 3px 2px #efefef;
                letter-spacing: 1px !important;
                h1 {
                    width: 100%;
                    margin: 30px 0;
                    text-align: center;
                    font-size: 21px;
                    font-weight: bold;
                    color: #cc0000;
                }
                .info-project-content {
                    width: 100%;
                    display: flex;
                    padding: 0 70px 50px 70px;
                    @media (max-width: 1024px) {
                        flex-wrap: wrap;
                    }
                    @media (max-width: 2560px) {
                        flex-direction: row;
                    }
                    @media (max-width: 992px) {
                        padding: 0 30px 50px 30px;
                    }
                    @media (max-width: 769px) {
                        flex-direction: column !important;
                    }
                    .col-info {
                        padding: 0 20px 0 0;
                        @media (max-width: 769px) {
                            padding: 0 20px 30px 0;
                            width: 100% !important;
                        }
                        @media (min-width: 769px) {
                            width: 50%;
                        }
                        p.no-mg {
                            margin-bottom: 0;
                        }
                        p {
                            position: relative;
                            padding-left: 30px;
                            font-size: 16px;
                            font-family: Helvetica;
                            @media(max-width:769px){
                                font-size: 12px;
                            }
                            svg {
                                position: absolute;
                                left: 0;
                                top: 5px;
                            }
                        }
                    }
                    .col-img {
                        padding: 0;
                        box-shadow: 0px 2px 3px 2px #bebebe;

                        @media (max-width: 769px) {
                            width: 100% !important;
                        }
                        @media (min-width: 769px) {
                            width: 50%;
                        }
                        .img-wrapper {
                            width: 100%;
                            height: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .row__back-ground {
            width: 100%;
            height: 532px;
            margin-top: 30px;

            @media (max-width: 1024px) {
                height: 350px;
            }
            @media (max-width: 769px) {
                height: 300px;
            }
            @media (max-width: 425px) {
                height: 200px;
            }
            .wrapper__back-ground {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .row__text-content {
            padding: 50px 140px;
            @media (max-width: 1440px) {
                padding: 50px;
            }
            @media (max-width: 769px) {
                padding: 30px 15px;
            }
            .wrapper__text-content {
                padding: 0 15px;
                font-size: 16px;
                @media(max-width: 769px){
                    font-size: 12px;
                }
            }
        }
        .row__img-content {
            width: 100%;
            padding: 0 140px 50px 140px;
            @media (max-width: 1440px) {
                padding: 0 50px 50px 50px;
            }
            @media (max-width: 769px) {
                padding: 0 15px 50px 15px;
            }
            .wrapper__img-content {
                display: flex;
                width: 100%;
                @media (max-width: 769px) {
                    flex-direction: column;
                }
                .col-img {
                    padding: 0;
                    .wrapper__img {
                        box-shadow: 0px 2px 3px 2px #bebebe;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .col__img--left {
                    padding-right: 30px;
                    @media (max-width: 769px) {
                        padding: 0 0 20px 0;
                    }
                    @media (max-width: 425px) {
                        padding: 0 0 15px 0;
                    }
                }
                .col__img--right {
                    padding-left: 30px;
                    @media (max-width: 769px) {
                        padding: 20px 0 0 0;
                    }
                    @media (max-width: 425px) {
                        padding: 15px 0 0 0;
                    }
                }
            }
        }
    }
}
