@import "common.scss";

.wrapper__signup {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .main__signup {
        box-shadow: 0px 1px 20px #d5d5d5;
        height: fit-content;
        width: 50%;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        @media(max-width: 768px){
            width: 70%;
        }
        @media(max-width: 425px){
            width: 90%;
        }
        .wrapper__sign {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
                h1 {
                    text-align: center;
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    @media (max-width: 1024px){
                        font-size: 28px;
                    }
                    @media(max-width: 768px){
                        font-size: 26px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    @media(max-width: 425px){
                        font-size: 24px;
                    }
                }
            }

            form {
                width: 80%;
                margin: 0 auto;
                input {
                    width: 100%;
                    padding-left: 20px;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 2px solid #d5d5d5;
                    height: 50px;
                    margin: 0 auto;
                    margin-bottom: 20px !important;
                    @media(max-width: 768px){
                        font-size: 14px;
                    }
                    @media(max-width: 425px){
                        font-size: 12px;
                        height: 40px;
                        margin-bottom: 15px !important;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .pw-wrapper{
                    display: flex;
                    position: relative;
                    .password-icon{
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        cursor: pointer;
                        z-index: 1000;
                        height: 15px;
                        width: 15px;
                    }
                }
                .input-name {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    span {
                        width: 45%;
                        input {
                            width: 100%;
                        }
                    }
                }
                .set-avatar{
                    label{
                        margin-bottom: 10px;
                        margin-top: 10px;
                        font-size: 16px;
                        @media(max-width: 768px){
                            font-size: 14px;
                        }
                    }
                }
            }
            .wrapper__sign-btn {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                justify-content: center;
                margin-top: 30px;
                @media(max-width: 768px){
                    margin-top: 10px;
                }
                .sign-up {
                    // width: 30%;
                    height: 100%;
                    padding: 8px 25px;
                    text-align: center;
                    font-weight: bold;
                    background-color: #cc0000;
                    border: 1px solid #cc0000;
                    cursor: pointer;
                    color: #fff;
                    transition: 0.5s;
                    @media(max-width: 1440px){
                        padding: 5px 18px;
                    }
                    @media(max-width: 768px){
                        font-size: 14px;
                    }
                    @media(max-width: 425px){
                        font-size: 12px;
                    }
                    &:hover {
                        border: 1px solid #cc0000;
                        background-color: #fff;
                        transition: 0.5s;
                        color: #cc0000;
                    }
                }
            }
        }
    }
}
