@import './common.scss';

header{
    width: 100%;
    .header__wrapper{
        &--top{
            min-height: 40px;
            border: 1px solid #eaeaea;
                .wrapper__top{
                    width: 100%;
                    display: flex;
                    min-height: 40px;
                    justify-content: space-between;
                    align-items: center;
                    color: #1B1C1B;
                    .contact{
                        display: flex;
                        &__mail{
                            margin-left: 20px;
                        }
                    }
                    &--right{
                        display: flex;
                        &__contact{
                            margin-left: 20px;
                        }
                    }
                }    
        }
        &--bottom{
            background-color: #282828;
            min-height: 70px;
            .wrapper__bottom{
                display: flex;
                width: 100%;
                min-height: 70px;
                color: #ffffff;
                font-family: Giroly;
                justify-content: space-between;
                &--logo{
                    display: flex;
                    align-items: center;
                    img{
                        width: 70px;
                        height: auto;
                        object-fit: contain;
                    }
                }
                &--nav{
                    margin-bottom: 0;
                    align-items: center;
                    display: flex;
                    li{
                        a{
                            padding: 15px;
                        }
                    }
                }
                &--right{
                    display: flex;
                    align-items: center;
                    .country{
                        margin-right: 15px;
                        img{
                            width: 20px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
        
    }
 
}

footer{
    font-family: Giroly;
    background-color: #282828;
    position: relative;
    .footer__img{
        position: absolute;
        top: -15%;
        left: -2%;
        height: 100%;
        img{
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
    .footer__wrapper{
        &--top{
            // background-color: #282828;
            color: rgba($color: #FFF, $alpha: .87);
            padding-top: 50px;
            padding-bottom: 50px;
            .wrapper__top{
                &__item{
                    &--top{
                        font-weight: 550;
                        letter-spacing: 2px;
                        font-size: 20px;                    
                    }
                    &--mid{
                        font-weight: 300;
                        letter-spacing: 1px;
                    }
                    &--bottom{
                        margin-top: 15px;
                        ul{
                            display: flex;
                            li{
                                padding: 0px 12px 0px 12px;
                                &:nth-child(1){
                                    padding-left: 0px;
                                }
                            }
                        }
                    }
                    .sign__wrapper{
                        display: flex;
                        &__input{
                            input{
                                background-color: #151515;
                                border: none;
                                color: rgba($color: #FFF, $alpha: .87);
                                padding: 8px;
                                &:focus{
                                    outline-width: 0;
                                }
                            }
                        }
                        &__btn{
                            button{
                                background-color: #E01042;
                                color: rgba($color: #FFF, $alpha: .87);
                                padding: 8px 15px;
                                border: none;
                                font-size: 13px;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
        &--bottom{
            min-height: 50px;
            width: 100%;
            &__content{
                position: absolute;
                z-index: 9;
                background-color: #151515;
                width: 100%;
                .wrapper__bottom{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    min-height: 50px;
                    align-items: center;
                    &--copy{
                        color: rgba($color: #FFFFFF, $alpha: .63);
                    }
                    &--nav{
                        display: flex;
                        margin-bottom: 0px;
                        li{
                            a{
                                color: #ffffff;
                                padding: 15px;
                                cursor: pointer;
                                &:hover{
                                    color: rgba($color: #FFFFFF, $alpha: .63);
                                }
                            }
                        }
                    }
                }
            }            
            
        }
    }
}