@import "./common.scss";

.timeline__wrapper {
  .timeline {
    // padding-left: 140px;
    // padding-right: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
    &__content {
      // display: flex;
      // justify-content: space-evenly;
      padding-left: 140px;
      padding-right: 140px;
      @media (max-width: 1440px) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
.timeline__content__item {
  // width: 276px;
  // height: 288px;
  background-color: #fff;
  position: relative;
  box-shadow: 2px 0.5px 3px 2px rgba($color: #000000, $alpha: 0.16);
  min-height: 288px;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  &--text {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    .wrapper__text {
      // padding-left: 30px;
      // padding-right: 30px;
      p {
        font-size: 16px;
        color: #282828;
        &:nth-child(1) {
          text-align: center;
          color: #e01042;
          font-size: 32px;
        }
      }
    }
  }
  &--number {
    position: absolute;
    z-index: 1;
    right: 0;
    font-size: 250px;
    color: #000000;
    opacity: 0.05;
  }
  &--border {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10px;
    background-color: #e01042;
  }
}
.timeline__web {
  display: block;
  @media (max-width: 768px) {
    display: none !important;
  }
}
.timeline-mobile {
  display: none;
  @media (max-width: 768px) {
    display: block !important;
  }
  &__content {
    padding-left: 50px;
    padding-right: 50px;
    .slick-slide {
       
      div {
        &:nth-child(1) {
          width: 100% !important;
          .col-item {
            max-width: 100% !important;
          }
        }
      }
    }
    .slick-next {
      display: none !important;
    }
  }
}
.slick-list{
    width: 100% !important;
}